services:

  # Apps

  migrations:
    image: kauereinbold/reminders-migrations-runner
    profiles:
      - production
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      # Connection string and other sensitive config should come from environment or secrets

  dotnet-api:
    image: kauereinbold/reminders-dotnet-api
    profiles:
      - production

  mvc:
    image: kauereinbold/reminders-mvc
    profiles:
      - production

  # Database

  postgres:
    profiles:
          - production

  # Load Balancer

  nginx: 
    profiles:
      - production

networks:
  default:
    name: 'reminders-network'
    driver: bridge