services:

  # Apps

  dotnet-api:
    image: reminders-dotnet-api:debug
    build: 
      args:
        DOTNET_CONFIGURATION: Debug
    profiles: 
      - debug
    volumes:
      - ~/.vsdbg:/remote_debugger:rw

  mvc:
    image: reminders-mvc:debug
    build:
      args:
        DOTNET_CONFIGURATION: Debug
    profiles: 
      - debug
    volumes:
      - ~/.vsdbg:/remote_debugger:rw

  # Database
  
  postgres:
    profiles:
      - debug
  
  # Load Balancer

  nginx: 
    profiles: 
      - debug
    volumes:
      - ./infrastructure/debug.nginx.conf:/etc/nginx/nginx.conf:ro