<br />
<p>
    <a href="#/Create" class="btn btn-success">Cadastrar novo lembrete</a>
</p>
<input type="text" name="searchItems" value="" placeholder="Filtrar os lembretes..." class="form-control" ng-keyup="vm.filterTable()" ng-model="vm.keyFilter" />
<br />
<h4 ng-show="vm.reminders.length === 0">Nenhum lembrete cadastrado.</h4>
<table class="table table-striped" ng-hide="vm.reminders.length === 0">
    <thead id="theadReminders">
        <tr class="select-head-table">
            <th ng-click="vm.orderBy('title')">
                Titulo
                <span ng-show="vm.order === 'title'" class="glyphicon" ng-class="!vm.asc ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
            </th>
            <th ng-click="vm.orderBy('limitDate')">
                Data Limite
                <span ng-show="vm.order === 'limitDate'" class="glyphicon" ng-class="!vm.asc ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
            </th>
            <th ng-click="vm.orderBy('isDone')">
                Concluido
                <span ng-show="vm.order === 'isDone'" class="glyphicon" ng-class="!vm.asc ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="tbodyReminders">
        <tr ng-repeat="reminder in vm.reminders | filter:filterTable ">
            <td>
                {{reminder.title}}
            </td>
            <td>
                {{reminder.limitDate | date:'dd/MM/yyyy'}}
            </td>
            <td>
                <input type="checkbox" ng-model="reminder.isDone" ng-click="vm.showModalDone(reminder)" />
            </td>
            <td>
                <a class="action-table" ng-click="vm.showModalDelete(reminder)" href=""><span class="glyphicon glyphicon-trash" title="Excluir"></span></a>
                <a class="action-table" ng-click="vm.editReminder(reminder)" href=""><span class="glyphicon glyphicon-edit" title="Editar"></span></a>
                <a class="action-table" ng-click="vm.detailsReminder(reminder)" href=""><span class="glyphicon glyphicon-tasks" title="Visualizar"></span></a>
            </td>
        </tr>
    </tbody>
</table>
<modal></modal>